<div>
  <h1>Search UUID</h1>
  <input #uuidSearchVal>
  <br>
  <button (click)="getMetricByUUID(uuidSearchVal.value)">Search For Request Data</button>
  <br>
  <div *ngIf="specificRequest">
    Method Name: {{specificRequest.methodName}}
    <br>
    Request Duration: {{specificRequest.duration}} ms
    <br>
    Response Size: {{specificRequest.responseSize}} bytes
    <br>
    UUID: {{specificRequest.uuid}}
    <br>
  </div>

  <h1>Metrics:</h1>
  <ul *ngFor="let recipient of metricMap | keyvalue">
    <li>
      Method Name: {{recipient.key}}:
      <br>
      Average Response Size: {{recipient.value.avgResponseSize}} bytes
      <br>
      Minimum Response Size: {{recipient.value.minResponseSize}} bytes
      <br>
      Maximum Response Size: {{recipient.value.maxResponseSize}} bytes
      <br>
      Average Response Time: {{recipient.value.avgResponseTime}} ms
      <br>
      Minimum Response Time: {{recipient.value.minResponseTime}} ms
      <br>
      Maximum Response Time: {{recipient.value.maxResponseTime}} ms
      <br>
    </li>
  </ul>

  <h1>All Request Records:</h1>
  <ul *ngFor="let request of requestRecords">
    <li>
      Method Name: {{request.methodName}}
      <br>
      Request Duration: {{request.duration}} ms
      <br>
      Response Size: {{request.responseSize}} bytes
      <br>
      UUID: {{request.uuid}}
      <br>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
